### Python ###
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.hypothesis/
*.egg-info/
*.egg
.Python
*.manifest
*.spec

### Byte-compiled / optimized / DLL files ###
*.sage.py
*.so

### Distribution / packaging ###
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
develop-eggs/
.installed.cfg
MANIFEST

### Testing and Coverage ###
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/

### Documentation ###
docs/_build/
/site

### Logs ###
*.log
logs/
pip-log.txt
pip-delete-this-directory.txt

### Jupyter Notebook ###
.ipynb_checkpoints

### IPython ###
profile_default/
ipython_config.py

### Environment ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Project Settings ###
.spyderproject
.spyproject
.ropeproject

### Translations ###
*.mo
*.pot

### Sphinx ###
docs/_build/

### PyInstaller ###
*.manifest
*.spec

### OS Specific ###
# Windows
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux
*~
.DS_Store
.Trashes

### Editors ###
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Miscellaneous ###
*.tsbuildinfo
node_modules/
.history/
backend-test
backend/data/quota.csv
